  <p class="heading">

    <span class="h1">EV Charge Records</span>
 
    <br clear='all'>

    <div class="motionwerk_line">&nbsp;</div>

  </p> 

  <img class="motionwerk_logo" src="/assets/images/motionwerk_logo-1.png">
